<style>
    .server {
        width: 100px; height: 100px;
        color: white;
        padding: 5px;
    }

    .server-up {
        background-color: green;
    }


    .server-down {
        background-color: red;

        -webkit-animation: server-down-anim 1s infinite; /* Safari 4+ */
        -moz-animation:    server-down-anim 1s infinite; /* Fx 5+ */
        -o-animation:      server-down-anim 1s infinite; /* Opera 12+ */
        animation:         server-down-anim 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes server-down-anim {
        0%, 49% {
            background-color: white;
            /*border: 3px solid #e50000;*/
        }
        50%, 100% {
            background-color: #e50000;
            /*border: 3px solid rgb(117,209,63);*/
        }
    }
</style>

<div ng-controller="KbnUpDownVisController">
    <div ng-repeat="value in metrics" style="float: left">
        <div ng-if="value.status" class="server server-up">
            {{value.host}}
        </div>
        <div ng-if="!value.status" class="server server-down">
            {{value.host}}
        </div>
    </div>
</div>
