<style>
    .server {
        width: 100px; height: 100px;
        color: white;
        padding: 5px;
    }

    .server-up {
        background-color: green;
    }


    .server-down {
        background-color: red;
    }
</style>

<div ng-controller="KbnUpDownVisController">
    <div ng-repeat="value in metrics" style="float: left">
        <div ng-if="value.status" class="server server-up">
            {{value.host}}
        </div>
        <div ng-if="!value.status" class="server server-down">
            {{value.host}}
        </div>
    </div>
</div>
